{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-6">All Products</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    {% for product in products %}
    <div class="border p-4 rounded shadow hover:shadow-lg transition cursor-pointer">
        {% if product.images.all %}
          <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" class="w-full h-48 object-cover mt-2 rounded">
        {% else %}
          <p class="text-gray-400 mt-2">No image</p>
        {% endif %}
      <h2 class="text-xl font-semibold">{{ product.name }}</h2>
      <p class="text-gray-700">{{ product.description|truncatewords:20 }}</p>
      <p class="font-bold mt-2 text-blue-600">${{ product.price }}</p>

    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
